<!DOCTYPE html>
<!-- Adapted from http://nervgh.github.io/pages/angular-file-upload/examples/image-preview/ -->
<!-- https://github.com/nervgh/angular-file-upload -->
<html id="ng-app" ng-app="myApp">

<head>
  <title>Upload Your Images</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/css/jquery.Jcrop.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="myController" ng-file-drop>

  <!-- Drag and Drop Uploader and List of Images-->
  <div class="container-fluid">
    <h2>Upload Your Images</h2> 
    <div class="row">
      <div class="col-md-12">
        <div ng-show="uploader.isHTML5">
          <div class="well my-drop-zone" ng-file-over="another-file-over-class">
            Drag and drop files here or browse and upload below
            <br>
            <br>
            <input ng-file-select type="file" multiple />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <form>
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>progress</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- image which was already uploaded from a past session --> 
                <h5>Store original image and edits to allow additional edits</h5>
                <tr ng-repeat="item in uploads">
                  <td>
                    <strong>{{ item.name }}</strong> 
                    <div ng-show="uploader.isHTML5"><img img-thumb style="height:100px;" src="http://placehold.it/100x100" /> </div>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="item.editing=!item.editing">Edit Image </button>
                    <!-- Edit Mode -->
                    <div ng-show="item.editing">
                      <h2>Edit Image</h2>
                      <a href="#" ng-click="item.editing=!item.editing">Close Edit</a>
                      <br>
                      <div class="editBar" ng-show="!cropping && !rotating">
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('crop','');">Crop</button>
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('rotate','');">Rotate</button>
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('reset','');">Restore</button>
                      </div>
                      <div class="saveBar" ng-hide="!cropping && !rotating">
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('save','');">Save</button>
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('cancel','');">Cancel</button>

                      </div>
                      <img img-data-from-uri="{{item.url}}"
                      img-editable="" style="max-width:560px" crop="item.crop" rotation="item.rotation" base64="item.base64">
                    </div>
                  </td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" style="width:100%"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span ><i class="glyphicon glyphicon-ok"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs" disabled>
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
                <!-- new uploads -->
                <tr><td>                
                  <h5>Allow users to edit images before they are uploaded <span ng-show="uploader.queue.length < 1">(Upload images above)</span></h5>
                </td></tr>
                <tr ng-repeat="item in uploader.queue">
                  <td>
                    <strong>{{ item.file.name }}</strong> 
                    <div ng-show="uploader.isHTML5"><img img-thumb style="height:100px;"  /> </div>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="item.editing=!item.editing">Edit Image {{item.sequenceNumber}}</button>
                    <!-- Edit Mode -->
                    <div ng-show="item.editing">
                      <h2>Edit Image</h2>
                      <a href="#" ng-click="item.editing=!item.editing">Close Edit</a>
                      <br>
                      <div class="editBar" ng-show="!cropping && !rotating">
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('crop','');">Crop</button>
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('rotate','');">Rotate</button>
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('reset','');">Restore</button>
                      </div>
                      <div class="saveBar" ng-hide="!cropping && !rotating">
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('save','');">Save</button>
                        <button class="btn btn-primary btn-xs" ng-click="$broadcast('cancel','');">Cancel</button>

                      </div>
                      <img img-data="item.file" img-editable style="max-width:560px" crop="item.crop" rotation="item.rotation" base64="item.base64"/>
                    </div>
                  </td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="deletePhoto(item.sequenceNumber)">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
      </div>
    </div>
  </div>



  <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
  <script src="http://nervgh.github.io/pages/angular-file-upload/angular-file-upload.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/js/jquery.Jcrop.js"></script>
  <script src="app.js"></script>
  <script src="../src/angular-imgEditor.js"></script>
</body>

</html>
